.formControls .error input,
.formControls .error textarea {
    border:  2px solid red;
    background-color: red;
    border-color: red;
}

.formControls span {
    display: inline-block;
    width: 100%;
    color: red;
}