.AppHead {
    grid-area: header;
    background-color: cadetblue;
  }
  
  .AppHead img {
    height: 90px;
    width: auto;
  }

.loginBlock {
  float: right;
  margin: 30px;
}

.loginBlock a {
  text-decoration: none;
  color: #fff;
 
}