.Navbar {
    grid-area: nav;
    background-color: coral;
  }

.item {
    margin-top: 10px;
    text-align: center;
}
.item:nth-child(1) {
    margin-top: 30px;
}

.item a {
    text-decoration: none;
    color: #fff;
    transition: color .5s;
}

.item a:hover {
    color: rgb(202, 197, 197);
}

.item a.active {
    color: rgb(82, 94, 116);
}